<div class="comment-entry badge-comment">
	<div class="avatar" >
		<div class="image-container">
			<a href="http://9gag.com/u/juliasemmel" target="_blank">
				<img class="badge-user-avatar badge-normal" src="http://accounts-cdn.9gag.com/media/avatar/40594308_100_22.jpg">
			</a>
			</div></div>
			<div class="payload">
				<div class="info">
					<p><a class="username badge-author-name badge-normal" href="http://9gag.com/u/juliasemmel" target="_blank">juliasemmel</a>
						<span></span>
						<span></span>
						<span>
							<span class="points badge-vote-count">
								<span>1117</span>
								<span> </span>
								<span>points</span>
							</span>
							<span class="badge-vote-separator"> · </span>
						</span>
						<span class="time badge-ago">
							<a class="comment-permalink" href="http://9gag.com/gag/ayLrmEV#cs_comment_id=c_148364608762687939" target="_blank">3d</a>
						</span>
					</p>
				</div>
			<div class="content badge-content">what about counter-trolling?</div>
			<div class="media badge-media"></div>
			<div class="action badge-action">
				<span>
					<a class="reply badge-reply-trigger" href="javascript:void(0);">Reply</a>
				</span>
				<div class="vote-buttons">
					<a class="up" href="javascript:void(0);">
						<span class="icn-up"></span>
						<span class="label">Upvote</span>
					</a>
					<span class="seperator"></span>
						<a class="down" href="javascript:void(0);">
							<span class="icn-down"></span>
							<span class="label">Downvote</span>
						</a>
				</div>
			</div>
		</div>
		<div class="extra-menu">
			<p><a class="menu-trigger" href="javascript:void(0);">
				<span class="drop"></span>
			</a></p>
			<div class="comment-pop-menu hide">
			<ul>
				<li><a href="javascript:void(0);">Report comment</a></li>
				<li><a href="javascript:void(0);">
						<span>Mute</span>
						<span> @</span>
						<span>juliasemmel</span>
				</a></li>
			</ul>
		</div>
	</div>
</div>
